@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #000428 , #004e92);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #1C1C1C;
    outline: none;
    background-color: rgba(212, 212, 210, 0.75)
}

.calculator-grid > .operator {
    background-color: rgba(255, 149, 0, 0.75);
}

.calculator-grid > button:hover {
    background-color: rgba(212, 212, 210, 0.95)
}

.calculator-grid > .operator:hover {
    background-color: rgba(255, 149, 0, 0.95);
}

.two-cols {
    grid-column: span 2;
}

.three-cols {
    grid-column: span 3;
}

.calculator-grid > .all-clear {
    background-color: rgba(192,192,192, 0.75);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output #upper {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.3rem; 
}

.output #current {
    color: white;
    font-size: 2.3rem; 
}